{% load static %}

<div id="home_head_carousel" class="carousel slide" data-bs-ride="carousel">
    <a href="{% url 'shop:shop' %}">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'img/slide/slider-01.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'img/slide/slider-02.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </a>
    <button class="carousel-control-prev" type="button" data-bs-target="#home_head_carousel"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#home_head_carousel"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>