{% load static %}
<li class="order-item accordion-item">
    <h3 class="accordion-header" id="heading-{{ order.pk }}">
        <button class="accordion-button collapsed ps-0 pe-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-{{ order.pk }}" aria-expanded="false"
                aria-controls="collapseOne">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 pe-1 d-flex align-items-center">
                        <span>№{{ order.pk }}<br>від {{ order.created_at|date:"d.m.y" }}</span>
                    </div>
                    <div class="col-3 px-1 d-flex align-items-center justify-content-center text-center">
                        <span>
                            <span class="text-muted">Сума</span><br>{{ order.total_price }} ₴
                        </span>
                    </div>
                    <div class="col-5 px-1">
                        <ul class="list-unstyled list-inline mb-0 text-end">
                            {% for item in order.orderitem_set.all %}
                                <li class="list-inline-item mx-1">
                                    {% if item.product.photo %}
                                        <img src="{{ item.product.photo.url }}" height="40px" alt="">
                                    {% else %}
                                        <img src="{% static 'img/no-product-image.png' %}" class="border" height="40px"
                                             alt="">
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </button>
    </h3>
    <div id="collapse-{{ order.pk }}" class="accordion-collapse collapse"
         aria-labelledby="heading-{{ order.pk }}"
         data-bs-parent="#order-list-accordion">
        <div class="accordion-body px-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h6 class="border-bottom pb-2">Товари</h6>
                        <ul class="list-unstyled mb-4 mb-sm-0">
                            {% for order_item in order.orderitem_set.all %}
                                {% include 'order/inc/_product_item.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h6 class="border-bottom pb-2">Інформація про замовлення</h6>
                        <p class="recipient">
                            <span class="text-muted">Отримувач замовлення:</span><br>
                            {{ order.get_recipient }}<br>
                            {{ order.recipient_phone_number }}
                        </p>
                        <p class="delivery">
                            <span class="text-muted">Спосіб доставки:</span><br>
                            {{ order.delivery_option }}
                        </p>
                        <p class="payment">
                            <span class="text-muted">Спосіб оплати:</span><br>
                            {{ order.payment_option }}
                        </p>
                        <p class="payment-status">
                            <span class="text-muted">Статус оплати:</span><br>
                            {% if order.billing_status %}
                                <span class="paid">Оплачено</span>
                            {% else %}
                                <span class="not-paid">Не оплачено</span><br>
                                <a class="btn btn-warning btn-main btn-sm mt-2" href="{% url 'payment' order.pk %}"
                                   target="_blank">Оплатити<i class="fa-solid fa-credit-card ps-2"></i>
                                </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>