{% extends 'inc/_base_single_comment.html' %}

{% block comment_tools %}
    <div class="like tool-item">
        <form id="like-form" data-index="{{ comment.id }}">
            {% csrf_token %}
            <button type="button" class="btn btn-link-mod" title="Вподобайка"
                    id="like" data-index="{{ comment.id }}"
                    data-url="{% url 'blog:like_comment' %}">
                <i class="far {% if user in comment.users_like.all %}fa-solid{% endif %} fa-thumbs-up"
                   aria-hidden="true"
                   data-index="{{ comment.id }}"></i>
            </button>
            {% with comment.users_like.count as amount %}
                <span style="display: {% if amount > 0 %}inline-block{% else %}none{% endif %}"
                      id="like-total-{{ comment.id }}">{{ comment.users_like.count }}</span>
            {% endwith %}
        </form>
    </div>
    <div class="reply tool-item">
        <button onclick="addReply('{{ comment.user }}', '{{ parent.id }}')"
                class="btn btn-link-mod" title="Відповісти">
            <i class="fa fa-reply" aria-hidden="true"></i>
        </button>
    </div>
{% endblock %}

{% block single_comment %}
    {% include 'blog/inc/_single_comment.html' with comment=reply parent=comment %}
{% endblock %}