{% load static %}

<div class="single-post">
    <div class="card shadow">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/gallery/img1.jpg' %}"
                     class="post-image card-img-top"
                     alt="...">
            </div>
            <div class="col-lg-5 col-xl-7">
                <div class="card-body">
                    <ul class="post-info p-0">
                        <li class="me-4"><i class="far fa-calendar-alt me-2"></i>06 травня 2022
                        </li>
                        <li><i class="far fa-comment me-2"></i>Коментарі (3)</li>
                    </ul>
                    <h5 class="card-title">Назва статті 1</h5>
                    <p class="card-text">Some quick example text to build on the card title
                        and make up the bulk of the card's content.Some quick example text to
                        build on the card title and make up the bulk of the card's content.Some
                        quick example text to build on the card title and make up the bulk of
                        the card's content.Some quick example text to build on the card title
                        and make up the bulk of the card's content.</p>
                    <a href="#">
                        <button class="btn btn-warning btn-main btn-sm">Читати повністю
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-post">
    <div class="card shadow">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/gallery/img2.jpg' %}"
                     class="post-image card-img-top"
                     alt="...">
            </div>
            <div class="col-lg-5 col-xl-7">
                <div class="card-body">
                    <ul class="post-info p-0">
                        <li class="me-4"><i class="far fa-calendar-alt me-2"></i>06 травня 2022
                        </li>
                        <li><i class="far fa-comment me-2"></i>Коментарі (5)</li>
                    </ul>
                    <h5 class="card-title">Назва статті 2</h5>
                    <p class="card-text">Some quick example text to build on the card title
                        and make up the bulk of the card's content.Some quick example text to
                        build on the card title and make up the bulk of the card's content.Some
                        quick example text to build on the card title and make up the bulk of
                        the card's content.Some quick example text to build on the card title
                        and make up the bulk of the card's content.</p>
                    <a href="#">
                        <button class="btn btn-warning btn-main btn-sm">Читати повністю
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-post">
    <div class="card shadow">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/gallery/img3.jpg' %}"
                     class="post-image card-img-top"
                     alt="...">
            </div>
            <div class="col-lg-5 col-xl-7">
                <div class="card-body">
                    <ul class="post-info p-0">
                        <li class="me-4"><i class="far fa-calendar-alt me-2"></i>06 травня 2022
                        </li>
                        <li><i class="far fa-comment me-2"></i>Коментарі (7)</li>
                    </ul>
                    <h5 class="card-title">Назва статті 3</h5>
                    <p class="card-text">Some quick example text to build on the card title
                        and make up the bulk of the card's content.Some quick example text to
                        build on the card title and make up the bulk of the card's content.Some
                        quick example text to build on the card title and make up the bulk of
                        the card's content.Some quick example text to build on the card title
                        and make up the bulk of the card's content.</p>
                    <a href="#">
                        <button class="btn btn-warning btn-main btn-sm">Читати повністю
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>