<div class="popular mb-3 mt-4 mt-md-0">
    <div class="card shadow order-sm-0">
        <div class="card-body">
            <h5 class="card-title text-center">Популярні статті</h5>
            <ul class="navbar-nav">
                {% for post in posts %}
                    <li class="nav-item pb-2">
                        <a class="nav-link ps-2 pb-0" href="{{ post.get_absolute_url }}">
                            <h6 class="mb-0">{{ post.title }}</h6>
                        </a>
                        <ul class="post-info ps-2">
                            <li class="me-4"><i class="fa fa-calendar-alt me-2"></i>{{ post.created_at|date }}</li>
                            <li><i class="fa fa-eye me-2"></i>{{ post.views }}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>