{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container address-form">
        <div class="row max-w-1000">
            <div class="col text-center text-sm-start pb-2 border-bottom">
                <h3><i class="bi bi-pencil-square fs-3 me-2"></i>{{ title }}</h3>
                <h6 class="text-muted text-start">{{ subtitle }}</h6>
            </div>
        </div>
    </div>
    <div class="layout-form mt-3">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-warning btn-main w-100" type="submit">Зберегти</button>
        </form>
    </div>
{% endblock %}