{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="text-center text-sm-start max-w-1000">
        <h3><i class="bi bi-pencil-square fs-4 me-2"></i>{{ title }}</h3>
        <h6 class="text-muted text-start border-bottom pb-2">{{ subtitle }}</h6>
    </div>
    <div class="layout-form mt-3">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-warning btn-main w-100" type="submit">Зберегти</button>
        </form>
    </div>
{% endblock %}