{% extends 'shop/shop_base.html' %}
{% load static %}

{% block shop_content %}
    <div class="product-detail">
        <div class="row">
            <div class="col-md-5">
                {% if product.photo %}
                    <a href="{{ product.photo.url }}"><img src="{{ product.photo.url }}" class="card-img-top" alt="..."></a>
                {% else %}
                    <img src="{% static 'img/no-image.jpg' %}" class="card-img" alt="...">
                {% endif %}
            </div>
            <div class="col-md-7 mt-xl-4">
                <div class="mb-3">
                    {% if product.available %}
                        <span class="available">
                            <i class="fa fa-check-circle-o me-2" aria-hidden="true"></i>В наявності
                        </span>
                    {% else %}
                        <span class="not-available">Немає в наявності</span>
                    {% endif %}
                </div>
                <h4 class="price mt-2">{{ product.price }} грн.</h4>
                <div class="mb-4 text-center text-md-start">
                    {% if product.available %}
                        <form class="d-inline" action="{% url 'shop:cart:cart_add' product.id %}" method="POST">
                            {% csrf_token %}
                            {{ cart_form }}
                            <button type="submit" class="btn btn-warning btn-main">В корзину
                                <i class="fa-solid fa-basket-shopping ps-1"></i></button>
                        </form>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a class="like-link ms-2" href="{% url 'shop:add_or_remove_to_wishlist' product.slug %}">
                            <i class="fa-{% if product in wish_list %}solid{% else %}regular{% endif %} fa-heart fa-xl"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="product-description col-12 mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#description">Опис</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#reviews">Відгуки
                            ({{ product.get_reviews_count }})</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container active" id="description">
                        {% if product.description %}
                            <div class="mt-3">{{ product.description|safe }}</div>
                        {% else %}
                            <div class="py-3 mb-3 border-bottom">Опис даного товару відсутній</div>
                        {% endif %}
                    </div>
                    <div class="tab-pane container fade" id="reviews">
                        {% include 'shop/inc/_reviews.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}