{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock %}

{% block content %}
    <div class="container shop">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-4 col-xxl-3 mb-3">
                        <div class="search">
                            <form class="d-flex" role="search" action="{% url 'shop:search' %}" method="get">
                                <input class="form-control me-2" name="s" type="search" placeholder="Пошук"
                                       aria-label="Search">
                                <button class="btn btn-warning btn-main" type="submit">Знайти</button>
                            </form>
                        </div>
                    </div>
                    <div class="col mb-1 text-center">
                        <h2>{{ title }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-3 col-xxl-3 order-1 order-md-0">
                {% include 'shop/inc/_sidebar.html' %}
            </div>
            <div class="col order-0 order-md-1">
                {% block shop_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}