/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}

a {
    text-decoration: none;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
    background-color: #222831;
    color: #ffffff;
    height: 30px;
    font-size: 12px;
    transition: all 0.5s;
}

.topbar i {
    color: #ffbe33;
    line-height: 0;
}

.topbar i span {
    color: #fff;
    font-style: normal;
    padding-left: 5px;
}

#topbar.topbar-scrolled {
    transition: all 0.5s;
    top: -30px;
}

/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
.navbar {
    padding: 0;
    top: 30px;
}

.navbar-transparent {
    transition: all 0.5s;
    background: transparent;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    font-family: "Satisfy", sans-serif;
    font-size: 30px;
    color: black;
}

.navbar .nav-item a {
    color: black;
}

.navbar a:hover {
    color: #d78300;
}

.navbar-nav .nav-link.active {
    color: #b06c00;
}

.navbar-toolbar a {
    color: #000000;
    font-size: larger;
}

/*--------------------------------------------------------------
# Nav Bar Scrolled
--------------------------------------------------------------*/
.navbar.navbar-scrolled .navbar-brand,
.navbar.navbar-scrolled .navbar-brand:hover {
    font-family: "Satisfy", sans-serif;
    font-size: 30px;
    color: #ffffff;
}

#navbar.navbar-scrolled {
    top: 0;
    background-color: #222831;
}

#navbar.navbar-scrolled a {
    color: #ffffff;
}

#navbar.navbar-scrolled.navbar li a:hover,
#navbar.navbar-scrolled.navbar .navbar-toolbar a:hover {
    color: #ffbe33;
}

#navbar.navbar-scrolled .navbar-nav .nav-link.active {
    color: #ffa600;
}

/*--------------------------------------------------------------
# Nav Bar Mobile
--------------------------------------------------------------*/
@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-radius: 7px;
        border: 2px solid rgb(143, 117, 15);
        background: white;
    }

    .navbar .navbar-nav .nav-item a,
    #navbar.navbar-scrolled .navbar-nav .nav-item a {
        color: black;
    }

    .navbar .navbar-nav .nav-item a:hover,
    #navbar.navbar-scrolled .navbar-nav .nav-item a:hover {
        color: #d78300;
    }

    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.active:hover,
    #navbar.navbar-scrolled .navbar-nav .nav-link.active,
    #navbar.navbar-scrolled .navbar-nav .nav-link.active:hover {
        color: #b06c00;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }

    #navbar.navbar-scrolled .navbar-toggler-icon {
        opacity: 1;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .carousel-inner {
        padding-top: 85px;
        background: #ffd838;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background-color: #222831;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover,
footer .footer_social a i:hover {
    color: #ffbe33;
}

footer .footer-logo a,
footer .footer-logo a:hover{
    font-size: 38px;
    font-weight: 600;
    font-family: "Satisfy", sans-serif;
    color: #ffffff;
}

footer .footer_social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: 0 3px;
    font-size: 18px;
}

footer .contact_box a {
    font-size: 13px;
    padding: 2px 0 3px 0;
}

footer .footer-info {
    color: rgba(189, 189, 189, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
}