/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: justify;
    background-image: url(../img/body_fon.jpg);
    background-size: 280px;

}

.brand {
    font-family: "Satisfy", sans-serif;
    color: #000000;
}

h2 {
    font-weight: 600;
}

h5 {
    font-weight: 600;
}

.content-container {
    padding-top: 85px;
}

a {
    color: #000000;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #d78300;
    transition: all 0.25s;
}

p {
    text-indent: 2.5rem;
}

.btn-main {
    background-color: #ffd838;
    border-color: #ffd838;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
    background-color: #222831;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.5s;
}

.topbar i {
    color: #ffbe33;
}

.topbar .topbar-info a,
.topbar .topbar-info span {
    color: #fff;
    font-style: normal;
    padding-left: 5px;
}

#topbar.topbar-scrolled {
    transition: all 0.5s;
    top: -30px;
}

/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
.navbar {
    font-weight: 700;
    padding: 0;
    top: 30px;
}

.navbar-transparent {
    transition: all 0.5s;
    background: transparent;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    font-weight: initial;
    font-size: 30px;
    color: #000000;
}

.navbar a {
    color: #000000;
}

.navbar a:hover {
    color: #d78300;
}

.navbar .nav-link.active,
.navbar .nav-link.active:hover {
    color: #b06c00;
}

.navbar-toolbar a {
    font-size: larger;
}

/*--------------------------------------------------------------
# Nav Bar Scrolled
--------------------------------------------------------------*/
.navbar-scrolled {
    top: 0;
    background-color: #222831;
}

.navbar-scrolled a,
.navbar-scrolled .navbar-brand,
.navbar-scrolled .navbar-brand:hover {
    color: #ffffff;
}

.navbar-scrolled a:hover {
    color: #ffbe33;
}

.navbar-scrolled .nav-link.active,
.navbar-scrolled .nav-link.active:hover {
    color: #ffa600;
}

/*--------------------------------------------------------------
# Nav Bar Mobile
--------------------------------------------------------------*/
@media (max-width: 767px) {
    .navbar-nav {
        border-radius: 7px;
        background: #ffffff;
        border: solid 1px #ffd838;
    }

    .navbar .nav-item a {
        color: #000000;
    }

    .navbar .nav-item a:hover {
        color: #d78300;
    }

    .navbar .nav-link.active,
    .navbar .nav-link.active:hover {
        color: #b06c00;
    }

    .navbar-scrolled .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

}

@media (max-width: 991px) {
    #home_carousel_controls .carousel-inner {
        padding-top: 85px;
        background: #ffd838;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background-color: #222831;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover,
footer .footer_social a i:hover {
    color: #ffbe33;
}

.footer-logo a,
.footer-logo a:hover {
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}

.footer-description span {
    font-weight: 500;
    font-size: 13px;
}

.footer_social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: 0 3px;
    font-size: 18px;
}

.footer_menu_box li {
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.footer_contact h5 {
    font-weight: 700;
}

.footer_contact_box li {
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 0.5rem;
}

.footer-info {
    font-size: 12px;
    color: rgba(189, 189, 189, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/*--------------------------------------------------------------
# Contacts page
--------------------------------------------------------------*/
.contact-page-info .form-label {
    font-size: small;
}