/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-image: url(../img/body_fon.jpg);
    background-size: 280px;

}

.brand {
    font-family: "Satisfy", sans-serif;
    color: #000000;
}

h2 {
    font-weight: 600;
}

h5 {
    font-weight: 600;
}

.content {
    margin-top: 85px;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    color: #000000;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #d78300;
    transition: all 0.25s;
}

.post-content p,
.about-info p {
    text-align: justify;
    text-indent: 2.5rem;
}

.btn-main {
    background-color: #ffd838;
    border-color: #ffd838;
}

.btn-link-mod {
    color: black;
    font-size: 13px;
    text-decoration: none;
    --bs-btn-focus-shadow-rgb: none;
}

.btn-link-mod:hover,
.btn-link-mod:focus {
    color: #d78300;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
    background-color: #222831;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.5s;
}

.topbar i {
    color: #ffbe33;
}

.topbar .topbar-info a,
.topbar .topbar-info span {
    color: #fff;
    font-style: normal;
    padding-left: 5px;
}

#topbar.topbar-scrolled {
    transition: all 0.5s;
    top: -30px;
}

/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
.navbar {
    font-weight: 700;
    padding: 0;
    top: 30px;
}

.navbar-transparent {
    transition: all 0.5s;
    background: transparent;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    font-weight: initial;
    font-size: 30px;
    color: #000000;
}

.navbar a {
    color: #000000;
}

.navbar a:hover {
    color: #d78300;
}

.navbar .nav-link.active,
.navbar .nav-link.active:hover {
    color: #b06c00;
}

.navbar-toolbar a {
    font-size: larger;
}

/*--------------------------------------------------------------
# Nav Bar Scrolled
--------------------------------------------------------------*/
.navbar-scrolled {
    top: 0;
    background-color: #222831;
}

.navbar-scrolled a,
.navbar-scrolled .navbar-brand,
.navbar-scrolled .navbar-brand:hover {
    color: #ffffff;
}

.navbar-scrolled a:hover {
    color: #ffbe33;
}

.navbar-scrolled .nav-link.active,
.navbar-scrolled .nav-link.active:hover {
    color: #ffa600;
}

/*--------------------------------------------------------------
# Nav Bar Mobile
--------------------------------------------------------------*/
@media (max-width: 767px) {
    .navbar .navbar-nav {
        border-radius: 7px;
        background: #ffffff;
        border: solid 1px #ffd838;
    }

    .navbar .nav-item a {
        color: #000000;
    }

    .navbar .nav-item a:hover {
        color: #d78300;
    }

    .navbar .nav-link.active,
    .navbar .nav-link.active:hover {
        color: #b06c00;
    }

    .navbar-scrolled .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

}

@media (max-width: 991px) {
    #home_carousel_controls .carousel-inner {
        padding-top: 85px;
        background: #ffd838;
    }
}

/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/
.product-description {
    text-align: justify;
}

.shop .single-product .card:hover {
    box-shadow: 3px 5px 10px 5px #e0e0e0;
}

.shop .available {
    background-color: #f4faf6;
    color: #00a046;
}

.shop .not-available {
    background-color: #faf4f4;
    color: #c50000;
}

.product-detail .nav-link {
    color: #000;
}

.product-detail .nav-link:hover,
.product-detail .nav-link.active,
.product-detail .nav-link.active:hover {
    color: #d78300;
}

.product-detail .nav-link.active,
.product-detail .nav-link.active:hover {
    font-weight: 600;
}

.review-item .user-photo img {
    border-radius: 50%;
    float: left;
    width: 60px;
}

.review-item .body {
    margin-left: 70px;
}

.review-item p.data-time {
    color: #7c7c7c;
    font-size: 14px;
}

.reply-list {
    margin-left: 40px;
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.sidebar .card,
.blog .card {
    border: none;
    border-radius: 0;
}

.blog .post-info li {
    display: inline-block;
    color: #7c7c7c;
    font-size: 14px;
}

/*Sidebar*/
.sidebar ul {
    list-style: none;
    text-align: left;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active,
.sidebar .nav-link.active:hover {
    color: #d78300;
}

.sidebar .nav-link.active,
.sidebar .nav-link.active:hover {
    font-weight: 500;
}

.sidebar .categories .nav-link:hover,
.sidebar .categories .nav-link.active,
.sidebar .categories .nav-link.active:hover {
    background-color: #f3f3f3;
}

.sidebar .post-info li {
    font-size: 13px;
}

/*Single post*/
.single-post .card-img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.single-post .card-text {*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 4;*/
/*    -webkit-box-orient: vertical;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

/*Post pagination*/
.blog-post-pagination .nav-links .page-numbers {
    border: 1px solid #ffd838;
    border-radius: 50%;
    color: #000000;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 35px;
    line-height: 35px;
    list-style: outside none none;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}

.blog-post-pagination .nav-links .page-numbers.current {
    background: #ffd838;
    color: #000000;
    font-weight: 600;
}

.blog-post-pagination .nav-links .page-numbers:hover {
    background: #ffd838;
    color: #000000;
    font-weight: 600;
}

.blog-post-pagination .nav-links a {
    text-decoration: none;
}

/*--------------------------------------------------------------
# Contacts page
--------------------------------------------------------------*/
.contact-page-info .form-label {
    font-size: small;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background-color: #222831;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover,
footer .footer_social a i:hover {
    color: #ffbe33;
}

.footer-logo a,
.footer-logo a:hover {
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}

.footer-description span {
    font-weight: 500;
    font-size: 13px;
}

.footer_social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: 0 3px;
    font-size: 18px;
}

.footer_menu_box li {
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.footer_contact h5 {
    font-weight: 700;
}

.footer_contact_box li {
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 0.5rem;
}

.footer-info {
    font-size: 12px;
    color: rgba(189, 189, 189, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}