{% load static %}

<li class="comment list-unstyled border-top pt-2">
    <div class="comment-author-photo">
        {% if comment.user.photo %}
            <img src="{{ comment.user.photo.url }}" alt="">
        {% else %}
            <img src="{% static 'img/favicon.ico' %}" alt="">
        {% endif %}
    </div>
    <div class="comment-details">
        <div class="comment-author">
            <h5 class="mb-1">{{ comment.user }}</h5>
        </div>
        <div class="comment-date">
            <p class="mb-2"><i class="fa fa-calendar-alt me-2"></i>{{ comment.created_at }}</p>
        </div>
        <div class="comment-body">
            <p class="mb-1">{{ comment.body }}</p>
        </div>
        <div class="comment-tools pb-2">
            {% block comment_tools %}{% endblock %}
            {% if comment.children %}
                <div class="reply-list-collapse-button tool-item me-0">
                    <button class="btn btn-link-mod" type="button" data-bs-toggle="collapse"
                            data-bs-target="#reply-list-{{ comment.id }}" aria-expanded="false"
                            aria-controls="reply-list-{{ comment.id }}">
                            <span class="collapsed">
                                <i class="fa-solid fa-chevron-down fa-sm"></i>
                                Показати всі відповіді ({{ comment.children.count }})
                            </span>
                        <span class="expanded">
                                <i class="fa-solid fa-chevron-up fa-xs"></i>Згорнути всі відповіді ({{ comment.children.count }})
                            </span>
                    </button>
                </div>
            {% endif %}
        </div>
        {% if comment.children %}
            <ul class="reply-list collapse ps-0" id="reply-list-{{ comment.id }}">
                {% for reply in comment.children %}
                    <li>
                        {% block single_comment %}{% endblock %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</li>