<footer class="mt-auto">
    <div class="container">
        <div class="footer-main row text-center">
            <div class="footer_about col-md pt-3">
                <div class="footer-logo brand">
                    <a href="{% url 'home' %}">MedOK</a>
                </div>
                <div class="footer-description">
                    <span>Інтернет-магазин справжнього меду</span>
                </div>
                <div class="footer_social d-flex align-items-center justify-content-center py-3">
                    <a href="https://www.facebook.com/yura.onyshchuk96" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/yurii_onyshchuk" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/yurii-onyshchuk-242549153/" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/yura.onyshchuk/" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="footer_menu col-md order-2 order-md-1 pt-3">
                <ul class="footer_menu_box ps-0 mb-0">
                    <li class="list-group-item"><a href="{% url 'home' %}">Головна</a></li>
                    <li class="list-group-item"><a href="{% url 'shop' %}">Магазин</a></li>
                    <li class="list-group-item"><a href="{% url 'blog' %}">Блог</a></li>
                    <li class="list-group-item"><a href="{% url 'about' %}">Про&nbsp;нас</a></li>
                    <li class="list-group-item"><a href="{% url 'contacts' %}">Контакти</a></li>
                </ul>
            </div>
            <div class="footer_contact col-md order-1 order-md-2 pt-3">
                <h5>Зв'яжіться з нами:</h5>
                <ul class="footer_contact_box ps-0 mb-0">
                    <li class="list-group-item">
                        <a href="tel:+380976011377">
                            <i class="fa fa-phone pe-1" aria-hidden="true"></i>
                            <span>+38 097 601 13 77</span></a>
                    </li>
                    <li class="list-group-item">
                        <a href="mailto:yura.onyshchuk@gmail.com">
                            <i class="fa fa-envelope pe-1" aria-hidden="true"></i>
                            <span>yura.onyshchuk@gmail.com</span></a>
                    </li>
                    <li class="list-group-item">
                        <a href="https://www.google.com/maps/place/50%C2%B009'08.3%22N+26%C2%B049'30.2%22E/@50.1350663,26.8039408,13.5z/data=!4m5!3m4!1s0x0:0x565865a7af96e204!8m2!3d50.1522906!4d26.8250575"
                           target="_blank">
                            <i class="fa fa-map-marker pe-1" aria-hidden="true"></i>
                            <span>Хмельницька&nbsp;обл., Шепетівський&nbsp;р&#8209;н.,<br>с.&nbsp;Путринці, пров.&nbsp;Шкільний,&nbsp;13</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-info row">
            <div class="info-box col text-center py-2">
                <span>Всі права захищені<br>© Інтернет-магазин MedOK 2022</span>
            </div>
        </div>
    </div>
</footer>