<footer>
    <div class="container-fluid">
        <div class="footer-main row text-center">
            <div class="footer_about col-md py-3">
                <div class="footer-logo">
                    <a href="">
                        MedOK
                    </a>
                </div>
                <div class="footer-description">
                    <p class="mb-2">
                        Інтернет-магазин справжнього меду
                    </p>
                </div>
                <div class="footer_social d-flex align-items-center justify-content-center">
                    <a href="https://www.facebook.com/yura.onyshchuk96">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/yurii_onyshchuk">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/yurii-onyshchuk-242549153/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/yura.onyshchuk/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="footer_menu col-md order-2 order-md-1 d-flex flex-column py-3">
                <a class="py-1" href="#">Головна</a>
                <a class="py-1" href="#">Магазин</a>
                <a class="py-1" href="#">Блог</a>
                <a class="py-1" href="#">Про&nbsp;нас</a>
                <a class="py-1" href="#">Контакти</a>
            </div>
            <div class="footer_contact col-md order-1 order-md-2 py-3">
                <h5>Наші контакти: </h5>
                <div class="contact_box d-flex flex-column">
                    <a href="tel:+380976011377"><i class="fa fa-phone pe-1" aria-hidden="true"></i>
                        <span>+38 097 601 13 77</span>
                    </a>
                    <a href="mailto:yura.onyshchuk@gmail.com"><i class="fa fa-envelope pe-1" aria-hidden="true"></i>
                        <span>yura.onyshchuk@gmail.com</span>
                    </a>
                    <a href="https://www.google.com/maps/place/50%C2%B009'08.3%22N+26%C2%B049'30.2%22E/@50.1350663,26.8039408,13.5z/data=!4m5!3m4!1s0x0:0x565865a7af96e204!8m2!3d50.1522906!4d26.8250575"
                       target="_blank"><i class="fa fa-map-marker pe-1" aria-hidden="true"></i>
                        <span>Хмельницька обл., Ізяславський р-н,<br>с. Путринці, пров. Шкільний, 13</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-info row">
            <div class="info-box col text-center py-2">
                <span>Всі права захищені<br>© Інтернет-магазин MedOK 2022</span>
            </div>
        </div>
    </div>
</footer>