{% load static %}
<header>
    <div id="topbar" class="topbar d-flex align-items-center fixed-top">
        <div class="container-lg topbar-info  d-flex align-items-center justify-content-center justify-content-md-end">
            <i class="bi bi-phone d-flex align-items-center me-4"><a href="tel:+380976011377">+38 097 601 13 77</a></i>
            <i class="bi bi-clock d-flex align-items-center"><span>Пон - Пт: 09:00 - 18:00</span></i>
        </div>
    </div>
    <nav id="navbar" class="navbar navbar-expand-md navbar-transparent fixed-top">
        <div class="container-lg">
            <a class="navbar-brand brand me-0" href="{% url 'home' %}">MedOK</a>
            <div class="navbar-toolbar d-flex order-md-2">
                <ul class="toolbar-list list-unstyled d-flex align-items-center mb-0">
                    <li class="nav-item cart me-3 me-sm-4 me-md-3">
                        <a class="tool-link cart-link" href="{% url 'shop:cart:cart_detail' %}">
                            <i class="fa-solid fa-basket-shopping"></i>
                            {% with cart|length as amount %}
                                <span style="display: {% if amount > 0 %}block{% else %}none{% endif %}"
                                      id="cart-total" class="text-center">{{ cart|length }}</span>
                            {% endwith %}
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item like mx-3 mx-sm-4 mx-md-3">
                            <a class="tool-link like-link" href="{% url 'shop:wishlist' %}">
                                <i class="fa-regular fa-heart"></i>
                                {% with wish_list|length as amount %}
                                    <span style="display: {% if amount > 0 %}block{% else %}none{% endif %}"
                                          id="wishlist-total" class="text-center">{{ wish_list|length }}</span>
                                {% endwith %}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item user ms-3 ms-sm-4 ms-md-3">
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <a class="tool-link user-link" data-bs-toggle="dropdown" role="button"
                                   aria-expanded="false">
                                    <i class="fa-regular fa-user"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end pt-0">
                                    <li class="border-bottom py-1 mb-1">
                                        <a href="{% url 'personal_info' user.slug %}" style="padding-left: 11px">
                                            <img class="d-inline-block user-photo" alt=""
                                                 src="{% if user.photo %}{{ user.photo.url }}
                                                  {% else %}{% static 'img/default_avatar.jpg' %}{% endif %}">
                                            <h6 class="d-inline-block dropdown-header ps-1">{{ user.first_name }} {{ user.last_name }}</h6>
                                        </a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'personal_cabinet' %}">
                                        <i class="bi bi-person me-2 fs-6"></i>Особистий кабінет</a></li>
                                    <li><a class="dropdown-item" href="{% url 'order_list' %}">
                                        <i class="bi bi-gift me-2 fs-6"></i>Мої замовлення</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">
                                        <i class="bi bi-box-arrow-right me-2 fs-6"></i>Вийти з акаунту </a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="tool-link user-link" href="{% url 'login' %}?next={{ request.path }}">
                                <i class="fa-regular fa-user"></i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
                <button class="navbar-toggler ms-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar-collapse"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse order-md-1 justify-content-center" id="navbar-collapse">
                <ul class="navbar-nav mb-2 mb-md-0 text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop:shop' %}">Магазин</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:blog' %}">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Контакти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>